.nav p img{
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform:rotate(180deg);
}
.nav p:nth-child(2){
	left: calc((100% - 45px)/2);
}
.shoping_line_control{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	background: #fff;
	border-bottom: 1px solid #eee;
}
.shoping_line_control p{
	float: right;
	margin-right: 10px;
	line-height: 40px;
}
.shoping_line{
	width: 100%;
	height: 100px;
	background: #fff;
}
.shoping_line .check{
	float: left;
	margin: 40px 10px;
}
.shoping_line .check input[type=checkbox],.shopping .checkAll input[type=checkbox]{
	display: none;
}
.shoping_line .check input[type=checkbox]+label,.shopping .checkAll input[type=checkbox]+label{
	background-color: white;
	border-radius: 50%;
	border: 1px solid #d3d3d3;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
}
.shoping_line .check input[type=checkbox]:checked+label,.shopping .checkAll input[type=checkbox]:checked+label{
	background-color: #ff5500;
}
.shoping_line .check input[type=checkbox]:checked+label:after,.shopping .checkAll input[type=checkbox]:checked+label:after{
	content:"\2714";
	color: #fff;
}
.shoping_line img:only-of-type{
	width: 30%;
	height: 100px;
	float: left;
	margin-right: 10px;
}
.shoping_line .theme h4{
	font-size: 12px;
	padding: 5px;
}
.shoping_line .theme p:first-of-type{
	float: left;
	color: #d47a3c;
}
.shoping_line .theme del{
	float: left;
	font-size: 10px;
	margin-top: 3px;
	color: #969696;
	text-indent: 5px;
}
.shoping_line .theme p:nth-of-type(2){
	float: right;
	margin-right: 20px;
}
.shoping_line .theme2{
	margin-left: calc(30% + 48px);
}
.shoping_line .theme2 input[type=button],.shoping_line .theme2 input[type=text]{
	width: 20%;
	height: 30px;
	float: left;
	border: 1px solid #eee;
	text-align: center;
	margin-top: 35px;
}
.shoping_line .theme2 input[type=text]{
	width: 48px;
	height: 28px;
}
.shoping_line .theme2 button{
	width: calc(60% - 60px);
	height: 100px;
	border: none;
	color: #FFFFFF;
	background: #ff5500;
	float: right;
}
.shopping .checkAll{
	width: 100%;
	height: 50px;
	background: #fff;
	position: fixed;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #eee;
}
.shopping .checkAll input[type=checkbox]+label{
	margin: 15px;
	float: left;
}
.shopping .checkAll p{
	float: left;
	height: 50px;
	line-height: 50px;
	padding-left: 15%;
}
.shopping .checkAll button{
	width: calc(100% - 222px);
	float: left;
	height: 50px;
	line-height: 50px;
	background: #ff5500;
	float: right;
	color: #FFFFFF;
	border: none;
}
